.loader {
  text-align: center;
  color: var(--primary-text-color);
}

.spinner {
  animation: spin var(--spinner-duration) infinite var(--timing-function);
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}
