.todoListItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid var(--primary-text-color);
  border-radius: var(--border-radius);

  &:has(.checkbox:checked) {
    background-color: var(--bg-disabled-color);
  }
}

.todoListItemDescriptionBox {
  display: flex;
  align-items: center;
}

.todoListItemLabel {
  display: inline-flex;
  align-items: center;

  &:has(.checkbox:checked) {
    text-decoration: line-through;
  }
}

.checkbox {
  appearance: none;

  &:disabled + .customCheckbox {
    background-color: var(--bg-disabled-color);
  }
}

.customCheckbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin-right: 8px;

  border: 1px solid var(--primary-text-color);
  border-radius: 5px;
}

.todoListItemControlPanelBtn {
  color: var(--primary-text-color);

  transition: transform var(--transition-duration) var(--timing-function);

  &:hover {
    transform: scale(1.2);
  }

  &:disabled {
    color: var(--bg-disabled-color);
  }
}
